django>=1.5.1
wheel==0.24.0
# Additional requirements go here

-e git://github.com/publica-io/django-entropy.git#egg=django-entropy
-e git://github.com/publica-io/django-publica-templates.git#egg=django-publica-templates
